  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

  body {
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
  }

  /* Navigation */

  .main-nav {
    background: rgba(255, 255, 255, .6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  .navbar-brand {
    font-weight: bold;
  }

  #main-hero {
    min-height: 100vh;
  }

  #main-hero img {
    object-fit: cover;
    min-height: 100vh;
    width: 100%;
  }

  /* Content */

  section {
    padding: 5rem 0;
  }

  section > h1 {
    margin-bottom: 3rem;
  }

  #main-hero .jumbotron {
    position: absolute;
    bottom: 0px;
    margin: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
    ;
    color: white;
  }

  .card .icon {
    margin: 2rem auto;
  }

  /* Animation */

  .fadein {
    opacity: 0;
  }

  /* Form validation */

  .sent {
    color: green;
    display: none;
  }
  .error {
    color: red;
    display: none;
  }